#xxstudiotw {
  font-family: "Caveat", cursive, "Noto Sans TC", sans-serif;
}

.bg-nav {
  background-color: #e2be9f;
  border: 0.2px grey dashed;
  padding: 0px;
}

.shop-name {
  font-size: 30px;
}

.search-container {
  width: 360px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  border-radius: 15px;

  outline: none;
  &:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}
.search-icon {
  position: relative;
  width: 75px;
  height: 75px;
  left: -20px;
}

.nav-tabs {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-dropdown {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

.qutoe-item {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.qutoe-item-img > img {
  height: 150px;
}

//cards

.card-deck,
.card {
  flex: 0 1 auto;
  margin: 0.1rem;
  padding: 0px;
}

.card {
  width: 240px;
  height: 240px;
  margin: 2px;
}

.card-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 24px;
}

.card-img-overlay {
  transform: translateY(16rem);
  transition: transform 0.18s ease-in;
  background-color: rgba(0, 0, 0, 1);
  .card-text {
    opacity: 0;
    transform: translateY(-6rem);
    transition: opacity 0.05s ease-in, transform 0.25s ease-in;
  }
  .btn {
    opacity: 0;
    transform: translateY(2rem);
  }
}
.card {
  overflow: hidden;
  background-color: rgb(110, 114, 117);
  &:hover {
    .card-img {
      mix-blend-mode: overlay;
    }
    .card-img-overlay {
      transform: translateY(0);
      transition: transform 0.25s ease-out;
      background-color: rgba(207, 204, 204, 0.096);
    }
    .card-text {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease-out, transform 0.2s ease-out;
    }
    .btn {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.7s ease-out, transform 0.35s ease-out;
    }
  }
}

.footer-container {
  margin-top: 25px;
}

.footer-info-section {
  width: 50%;
}

.footer-section-line {
  border: 0.1rem lightgray solid;
  width: 80%;
}

.copyright {
  font-size: 24px;
}

.slider-container {
  height: 180px;
}

.card-container {
  object-fit: contain;
  height: 150px;
}

.nav-tabs {
  border-top: 0px;
}
.nav-item:hover,
.nav-item > a.active {
  box-shadow: 2px -2px 4px 0.5px #242424;
  -webkit-box-shadow: 2px -2px 4px 0.5px #242424;
  -moz-box-shadow: 2px -2px 4px 0.5px #242424;
  -o-box-shadow: 2px -2px 4px 0.5px #242424;
}

/* Style the Image Used to Trigger the Modal */
.image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.image:hover {
  opacity: 0.9;
}
